{% extends "activity_base.html" %}



{% block activity1_left %}


<li ><a href="#Activity-4-Integrating-Digital-Phenotyping">Activity 4: Integrating Digital Phenotyping with Genomic-enabled Prediction</a></li>
<li ><a href="#Empirical-Phenotyping">“Empirical” Phenotyping of the NAM Population (Three Environments)</a></li>
<li ><a href="#Digital-Phenotyping">“Digital” Phenotyping of the NAM Population (Three Environments)
</a></li>
<li ><a href="#GERMPLASM-FIELD">GERMPLASM FIELD EVALUATIONS</a></li>
{% endblock %}


{% block activity1_right %}


<span id = "Activity-4-Integrating-Digital-Phenotyping" class = "top-tier-title" >
  Activity 4: Integrating Digital Phenotyping with Genomic-enabled Prediction
</span>

<p><b>CanNAM Population</b><br><br>
  Long term genetics & applied research resource
  Diversity for traits impacting Canadian wheat
  Whole NAM population analysis & targeted sub-pop analysis</p>

<div class="p-row">
  <div class="column33" >
    <p style = "padding-top: 85px; text-align: center;">Canadian Spring Hexaploid Wheat (CanNAM)</p>
    
    <p style = "padding-top: 30px; text-align: center;"><b>Stettler ONT Assembly:<br>
      Data generated
      </b></p>
          
    </div>
    <div class="column25" >
      <img style="width:100%; padding-bottom: 0px;" class = "center-image" src="{{ url_for ('static', filename='images/Activity4_Intergrating1.png') }}" /> 
      <p style = "text-align: center;">50 (Pops) X 94 RILS / per Pop
        = 4700 RILs
       </p>
    </div>

    <div class="column33" >
      <img style="width:80%" class = "center-image" src="{{ url_for ('static', filename='images/Activity4_Intergrating2.png') }}" /> 
      
    </div>
  
  </div>


<span id = "Empirical-Phenotyping" class = "tier-title" >“Empirical” Phenotyping of the NAM Population (Three Environments)
</span>

<table class = "center" >
  <tr>
    <th>Trait</th>
    <th>Trial Location</th>
    <th>Status</th>  
  </tr>

  <tr>
    <td>Early season ground cover
    </td>
    <td>Kernen, Innovation, Goodale
    </td>
    <td>Completed
    </td>
  </tr>
  <tr>
    <td>Heading date
    </td>
    <td>Kernen, Innovation, Goodale
    </td>
    <td>Completed
    </td>
  </tr>
  <tr>
    <td>Glaucousness
    </td>
    <td>Kernen, Innovation, Goodale
    </td>
    <td>Completed
    </td>
  </tr>
  <tr>
    <td>Awn presence
    </td>
    <td>Kernen, Innovation, Goodale
    </td>
    <td>Completed
    </td>
  </tr>
  <tr>
    <td>Anther extrusion
    </td>
    <td>Goodale
    </td>
    <td>Completed
    </td>
  </tr>
  <tr>
    <td>Lodging
    </td>
    <td>Kernen, Innovation, Goodale
    </td>
    <td>Completed
    </td>
  </tr>
  <tr>
    <td>Plant height
    </td>
    <td>Kernen, Innovation, Goodale
    </td>
    <td>Completed
    </td>
  </tr>
  <tr>
    <td>Canopy temperature during grain fill
    </td>
    <td>Kernen, Innovation, Goodale
    </td>
    <td>Completed
    </td>
  </tr>
  <tr>
    <td>Resistance to Leaf Spots
    </td>
    <td>Kernen, Innovation, Goodale
    </td>
    <td>Completed
    </td>
  </tr>

  <tr>
    <td>Resistance to FHB
    </td>
    <td>Saskatoon
    </td>
    <td>Completed, but variable data
    </td>
  </tr>
  
  <tr>
    <td>Maturity date
    </td>
    <td>Kernen, Innovation, Goodale
    </td>
    <td>Completed
    </td>
  </tr>

  <tr>
    <td>Yield
    </td>
    <td>Kernen, Innovation, Goodale
    </td>
    <td>60% Completed
    </td>
  </tr>
</table>

  




<p style = "padding-top: 60px;"><span id = "Digital-Phenotyping" class = "t-title">“Digital” Phenotyping of the NAM Population (Three Environments)   
</span></p>
<p style = "padding-bottom: 70px;"><b>All locations were scanned at one week intervals (3 day intervals at heading)</b></p>




<div class="p-row">
  <div class="column20" style = "padding-top: 20px;" >
    <p style = "text-align: center;"><b>PhaseOne<br> 
      RGB camera
      </b></p>
    </div>
    <div class="column80" >
      <img style="width:80%" class = "center-image" src="{{ url_for ('static', filename='images/Digital_Phenotyping1.png') }}" /> 
    </div>
  </div>

  <div class="p-row">
    <div class="column20" style = "padding-top: 20px;" >
      <p style = "text-align: center;"><b>MicaSense Rededge 3<br> 
        Multispectral sensor
        </b></p>
      </div>
      <div class="column80" >
        <img style="width:80%" class = "center-image" src="{{ url_for ('static', filename='images/Digital_Phenotyping2.png') }}" /> 
      </div>
    </div>


    <span id = "GERMPLASM-FIELD" class = "tier-title">GERMPLASM FIELD EVALUATIONS
    </span>

    <div class="p-row">
      <div class="column50" style = "padding-top: 20px;" >
        <p style = "text-align: center;">Spring Diversity Panel
        </p>
      </div>

      <div class="column50" style = "padding-top: 20px;" >
        <p style = "text-align: center;">Winter Dive Panel
        </p>
      </div>     
    </div>

    <div class="p-row">
      <div class="column50" style = "padding-top: 20px;" >
        <img style="width:85%" class = "center-image" src="{{ url_for ('static', filename='images/GERMPLASM_FIELD_EVALUATIONS1.png') }}" />
      </div>

      <div class="column50" style = "padding-top: 20px;" >
        <img style="width:95.65%" class = "center-image" src="{{ url_for ('static', filename='images/GERMPLASM_FIELD_EVALUATIONS2.png') }}" />
      </div>     
    </div>

    
    <p style = "text-align: center;">FHB Nursery, Morden, MB
    </p>
    
    <video width="640" height="360" controls>
      <source src="{{ url_for ('static', filename='video/field_video1.mp4') }}" type="video/mp4">
        <source src="{{ url_for ('static', filename='video/field_video1.mp4') }}" type="video/mp3">
      Your browser does not support the video tag.
    </video>
    

        {% endblock %}