{% extends "activity_base.html" %}



{% block activity1_left %}
    <li ><a href="#Activity5.1">Activity 5.1: Genomics and Valuation of International Wheat Germplasm Flow</a></li>
    <li ><a href="#Activity5.2">Activity 5.2: Valuating Plants with Novel Traits (PNT) Regulations:</a></li>
    <li ><a href="#Activity5.3">Activity 5.3: The Wheat Innovation System and the Time-to-Market of New Wheat Varieties:</a></li>
{% endblock %}

{% block activity1_right %}

<h2><b>Activity 5. GE3LS – Valuing and Accelerating the Delivery of Genetic Innovation</b></h2>
<br>

<span id = "Activity5.1" class = "tier-title">Activity 5.1: Genomics and Valuation of International Wheat Germplasm Flow
</span>

<ul>
<li>Develop a Canadian component to the international annotated wheat variety database;</li>
<li>Publish a spatially aggregated farm-level economic model that can more accurately quantify the value of Canadian wheat genetic gain in Canada;</li>
<li>Develop internal reports estimating the economic value of potential cultivars for pre-breeding activities</li>
</ul>

<span id = "Activity5.2" class = "tier-title" >Activity 5.2: Valuating Plants with Novel Traits (PNT) Regulations
</span>

<ul>
    <li>Describe and analyze plant-based regulatory structures in Canadian trade relevant countries;</li>
    <li>Conduct an economic analysis of the impact of a reform of Canadian PNT regulatory reform on research and breeding investment.</li>
</ul>

    <span id = "Activity5.3" class = "tier-title">Activity 5.3: The Wheat Innovation System and the Time-to-Market of New Wheat Varieties
    </span>

    <p>Conducting background research on Plants with Novel Traits (PNTs) regulatory systems in Canada and internationally
    </p>
    
    
    


        {% endblock %}