{% extends "base.html" %}
{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/activities.css') }}">
</head>


<script type="text/javascript">
  
$(function(){
     $('ul li').click(function(){
         $(this).addClass('highlight');
         $(this).siblings().removeClass('highlight');
     })
});  
</script>


<div class = "page-body" style = "padding-bottom: 8px; overflow: hidden; padding-top: 20px;">
  <div  class = "left-div">
    
    <ul >
        {% block activity1_left %} {% endblock %}
    </ul>
  </div>

    <div class = "right-div" >
        {% block activity1_right %} {% endblock %}
    </div>
      
    
</div>
{% endblock %}