{% extends "base.html" %}
{% block content %}


<style>
.p-row{
    display: table;
    width: 100%;
  }
  
  .page-body {
    position: relative;
    
    
  }
  
  table {
    font-family: arial, sans-serif;
    
    border-collapse: collapse;
    width: 90%;
    
    border-top: 2px solid rgb(122, 180, 250);
    border-bottom: 2px solid rgb(122, 180, 250);
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
  }
  
  th {
    font-size: 20px;
    font-weight: 600px;
    text-align: left;
    padding: 5px;
    border-bottom: 2px solid rgb(122, 180, 250);
  }
  
  td {
    font-size: 20px;
    font-weight: 600px;
    text-align: left;
    padding: 5px;
  }
  
  tr:nth-child(even) {
    background-color:rgb(212, 231, 255);
  }
  
  .border
  {
      border-style:solid;
      border-width:1px;
      border-color:rgb(122, 180, 250);
  }
  
  .center-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  .column {
      float: left;
      width: 33.333%;
      padding-right: 10px;
  }
  
  .column p, .row p{
      font-size: 20px;
      text-align: center;    
  }
  
  .page-body span {
     margin-bottom: 100px;
  }
  
  .page-body p, .page-body ul, .page-body li{
    font-size: 20px;
  }
  
  .tier-title{
    background-color: rgb(79, 156, 34); 
    font-size: 35px; 
    font-weight: 900; 
    color:white ;
    display:inline-block;
  }

  .left-div 
{
height: 80%; 
float:left;

padding-right: 10px;
position: fixed;
width:10%;
}

.right-div 
{
float:right;
padding-left: 50px;
width:90%;
}  

li a{
  font-size: 16px;
}

.left-div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 180px;
  background-color: #d5ebff;
  border: 2px solid rgb(90, 188, 253);
  
}
.left-div ul li{
  border: 2px solid rgb(90, 188, 253);
  text-align: center;
  padding-right: 0;
  padding-top:5px;
  padding-bottom: 5px;
  
}
.left-div ul li a{
display: block; width: 100%; height: 100%;
}


.left-div ul li a.highlight{
background-color:rgb(96, 181, 238);
}

.left-div button{
  
  background-color: #d5ebff;
}

.left-div ul li.highlight, .left-div ul li:hover{
  background-color:rgb(165, 204, 255);
}


</style>

<script type="text/javascript">
  
$(function(){
     $('ul li').click(function(){
         $(this).addClass('highlight');
         $(this).siblings().removeClass('highlight');
     })
});  
</script>


<div class = "page-body" style = "padding-bottom: 10px; overflow: hidden; padding-top: 30px;">
  <div  class = "left-div">
    
    <ul >
        {% block activity1_left %} {% endblock %}
    </ul>
  </div>

    <div class = "right-div" >
        {% block activity1_right %} {% endblock %}
    </div>
      
    
</div>
{% endblock %}