{% extends "activity_base.html" %}

{% block content %}
<h1><b>4DWheat: Diversity, Domestication, Discovery and Delivery</b></h1>
<h3>Research Summary</h3>
<div>
    <p style="font-size:14.4px;">Wheat (<i>Triticum</i> spp.) supports a Canadian farm industry of >$6 billion annually. As a staple food crop,
    wheat is paramount to global food security. To meet the need, wheat productivity must increase
    in the next few decades to a level far beyond past achievements, in spite of climate change-associated threats.
    Landraces, progenitor species, and wild relatives have long been recognized as sources of genetic diversity
    with potential to improve wheat, but their use in breeding has been limited. However, this can now be
    addressed through genomic solutions to perfect the delivery of varieties to farmer’s fields and consumers.
    Why now? First, there is a general recognition that the narrow genetic diversity of many crops,
    including wheat, is limiting improvement. Second, gene transfer from wild sources has recently gained
    in popularity. Third, new technologies are in place to bypass or address drawbacks associated with
    introgressions from wild sources, such as non-adaptive traits, linkage drag and suppression.
    Last, recent advances in genotyping and high throughput phenotyping have opened possibilities to
    identify useful germplasm and tailor the transfer of the desired trait(s).</p>

    <p style="font-size:14.4px;"><b>4DWheat</b> will focus on five research themes that will develop innovative strategies to fully deploy the lost genetic diversity
        in wheat breeding:</p>
    <ul style="font-size:14.4px;">
        <li>
            <b>Harnessing <u>D</u>iversity in Wheat:</b> The latest technologies in sequencing, assembly,
            and comparative genomics will be applied to characterize germplasm that contains valuable genetic
            diversity for wheat improvement. The uniqueness of the collection, the breadth of its diversity,
            and its focus on Canadian breeding objectives distinguish <b>4DWheat</b> from other endeavors.
        </li>
        <li>
            <b><u>D</u>omesticating Exotic Wheat:</b> We conceptualized a genome editing strategy to eliminate the
            confounding effects of phenology on trait expression of unadapted germplasm which, combined with
            hybrid technology, will reveal its formerly hidden breeding value. Methods to better design synthetic
            hexaploid wheat crosses will be developed to capitalize upon the potential of the D genome.
        </li>
        <li>
            <b><u>D</u>iscovery and Introgressing Alleles:</b> Rapid isolation of major genes will drive innovative strategies
            for accessing the diversity of wild wheats. Methods to rapidly isolate genes from our unique germplasm,
            populations, and mutant panels will be perfected to identify candidate genes for disease and insect
            resistance. Mechanisms that cause gene suppression of important genes to Canadian wheat production
            will be investigated to enable strategies for transfer and expression across ploidy levels.
            Discovery of alleles also involves ‘real world’ evaluation and translation into breeding programs.
            Exploration of genetic resources for crop improvement will be supported by high-throughput
            phenotyping (HTP) approaches in the field to capture phenotypically complex variation underpinning
            traditional phenotypic selection. Targeted HTP will be performed on genetic resource-derived
            breeding lines for yield and physiological traits in pre-breeding populations. Genomic and performance
            data of crosses among elite lines, synthetic wheats, and wild wheat relatives will define haplotypes,
            predict combining abilities, and inform crossing designs to maximize population performance.
        </li>
        <li>
            <b>Valuing and Accelerating the <u>D</u>elivery of Genetic Innovation:</b> This GE3LS research activity quantifies
            the current and future value of the utilization of genetic resources through the lenses of economic
            returns, risk, cultivar adoption, and natural capital. We will also empirically examine regulatory
            networks related to new breeding technologies, with an assessment of risk and policy for utilization
            of gene editing technologies as it relates to the Canadian regulatory environment. Comprehensive
            knowledge and genetic resources to improve wheat will benefit Canadian breeders. Although the
            release of new cultivars from the pre-breeding material developed here will extend beyond
            this project, the germplasm and the developed technologies will flow immediately to our end-users.
            We have purposely balanced our research to include “high risk/high return” activities, with those
            of “lower risk/immediate applications” to ultimately deliver the best return for wheat in Canada
        </li>
    </ul>
</div>
{% endblock %}