{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/activities.css') }}">
<style>

  

</style>



<div class = "page-body" style = "padding-bottom: 50px;">
<br>
<span style="background-color: rgb(248, 250, 133); font-size: 35px; font-weight: 900; ">Activity 1 Proposed sequencing strategy</span>
<br><br><br><br><br>
<img class = "center-image"style="height:405px;width:860px;" src="{{ url_for ('static', filename='images/activity1_first_image.png') }}" />

<br><br><br>
<span class = "tier-title">Activity 1: Tier 1</span>
<p class = "border" style = " text-align: center;" >Sequencing genomes of Ae. markgrafii (C), Ae. comosa (M), Ae. speltoides (S), Ae. umbellulata (U), Ae. Uniaristata (N),  and Ae. Mutica (T)
</p>
<p style = "text-align: center;font-weight: 700;" >Genome size estimates by flow cytometry
</p>

<table class = "center">
    <tr>
      <th>Species</th>
      <th>Genome</th>
      <th>1C<sup>1</sup>(Gbp)</th>
      <th>1C<sup>2</sup>(Gbp)</th>
    </tr>
    <tr>
      <td>Ae.markgrafii</td>
      <td>C</td>
      <td>4.84</td>
      <td>4.3&plusmn;0.013</td>
    </tr>
    <tr>
       <td>Ae.comosa</td>
       <td>M</td>
       <td>5.53</td>
       <td>5.3&plusmn;0.014</td>
    </tr>
    <tr>
      <td>Ae.speltoides</td>
      <td>S</td>
      <td>5.81</td>
      <td>5.5&plusmn;0.005</td>
    </tr>
    <tr>
      <td>Ae.umbellulata</td>
      <td>U</td>
      <td>5.38</td>
      <td>5.1&plusmn;0.014</td>
    </tr>
    <tr>
      <td>Ae.uniaristata</td>
      <td>N</td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td>Ae.mutica</td>
      <td>T</td>
      <td> </td>
      <td> </td>
    </tr>
  </table>
  
  <p style = "font-size: 15px; font-weight: 700; padding-left: 150px;" ><sup>1</sup> Eilam et al. (2007, 2008)
    <br><sup>2</sup> Our estimates
  </p>




<br><br><br>

<span class = "tier-title">Tier 2 Sequencing ? genomes</span>
<br><br><br>
<table class = "center">
    <tr>
      <th>Accesion</th>
      <th>Species</th>
      <th>Genome</th>
      <th>Activity</th>
      <th>Tissue</th>
      <th>Seed</th>
    </tr>
    <tr>
      <td>Carberry</td>
      <td>T.aestivum</td>
      <td>ABD</td>
      <td>2.2</td>
      <td>&radic;</td>
      <td>&radic;</td>
    </tr>
    <tr>
      <td>Stettler</td>
      <td>T.aestivum</td>
      <td>ABD</td>
      <td>2.2</td>
      <td>&radic;</td>
      <td>&radic;</td>
    </tr>
    <tr>
      <td>27 SHWs<sup>1</sup></td>
      <td>T.aestivum</td>
      <td>ABD</td>
      <td>1.1/1.2/2.2</td>
      <td>&radic;</td>
      <td>&radic;</td>
    </tr>
    <tr>
      <td>Canthatch</td>
      <td>T.aestivum</td>
      <td>ABD</td>
      <td>3.1</td>
      <td>&radic;</td>
      <td>&radic;</td>
    </tr>
    <tr>
      <td>RL5710</td>
      <td>T.aestivum</td>
        <td>AB</td>
        <td>3.1</td>
        <td>&radic;</td>
        <td>&radic;</td>
    </tr>
    <tr>
        <td>Stewart 63</td>
        <td>T.durum</td>
        <td>AB</td>
        <td>3.1</td>
        <td>&radic;</td>
        <td>&radic;</td>
    </tr>
    <tr>
        <td>DT696<sup>2</sup></td>
        <td>T.durum</td>
        <td>AB</td>
        <td>3.2</td>
        <td>&radic;</td>
        <td>&radic;</td>
    </tr>
    <tr>
        <td>D04X.00.003</td>
        <td>T.durum</td>
        <td>AB</td>
        <td>3.2</td>
        <td>&radic;</td>
        <td>&radic;</td>
    </tr>
    <tr>
        <td>13 accessions</td>
        <td>T.turgidum ssp</td>
        <td>AB</td>
        <td>1.1</td>
        <td>&radic;</td>
        <td>&radic;</td>
    </tr>
    <tr>
        <td>13 accessions</td>
        <td>Aegilops sp</td>
        <td>Tetra/Hexa</td>
        <td>1.1</td>
        <td>&radic;(9/13)</td>
        <td>&radic;(9/13)</td>
    </tr>
    <tr>
        <td>22 NAM parents</td>
        <td>T.aestivum</td>
        <td>ABD</td>
        <td>2.2</td>
        <td>&radic;</td>
        <td>&radic;</td>
    </tr>
  </table>
  
  <p style = "font-size: 15px; font-weight: 700; padding-left: 150px;" ><sup>1</sup> Includes NAM SHW parents
    <br><sup>2</sup> Replacement for Transcend: Assembly available based on ONT trial
  </p>

<br><br><br>

<span class = "tier-title">Tier 3 Accessions</span>

<br>

<ul >
    <li>350 accessions of diploid, tetraploid and hexaploid from 23 Aegilops species and 4 Triticum species including many subspecies</li>
    <li>Selection will be based on genetic diversity, deepening the Aegilops representation and covering the subspecies of T. aestivum and T. turgidum</li>
</ul>

<img class = "center-image" style="height:650px;width:1360px;" src="{{ url_for ('static', filename='images/activity1_tier3_1.png') }}" />
<br><br>
<img class = "center-image" style="height:985px;width:1360px;" src="{{ url_for ('static', filename='images/activity1_tier3_2.png') }}" />

<br><br><br>
<span class="tier-title">Tier 3 Tetraploid Species Selection</span>
<br>

<div class="p-row">

<div class="column" >
    <p><b>Wild emmer wheat (T. dicoccoides)</b>     
    </p> 
  </div>
  <div class="column">
    <p><b>Domesticated emmer wheat (T. dicoccum)
    </b>
    </p> 
  </div>
  <div class="column">
    <p><b>Durum wheat landraces (T. durum)
    </b>
    </p> 
</div>

</div>


    <div class="p-row">
      <div class="column" >
          <p>
              186 accessions representing Fertile Crescent region where grow WEW natural populations
          </p> 
        </div>
        <div class="column">
          <p>
          139 accessions from 29 countries
          </p> 
        </div>
        <div class="column" >
          <p>
          140 accessions from 39 countries
          </p> 
        </div>
      </div>

      <div class="p-row">
        <div class="column" >
          <img  style="width:100%" class = "center-image" src="{{ url_for ('static', filename='images/activity1_tier3_map1.png') }}" />
          </div>
          <div class="column">
            <img style="width:100%" class = "center-image" src="{{ url_for ('static', filename='images/activity1_tier3_map2.png') }}" /> 
          </div>
          <div class="column" >
            <img  style="width:100%" class = "center-image" src="{{ url_for ('static', filename='images/activity1_tier3_map3.png') }}" />
          </div>
        </div>

        <p style = "text-align: center; margin-top: 30px;" >
          Complements Durum Wheat Tetraploid Wheat Collection and existing exome datasets<br>
          90K analysis complete <br>
          Sequencing completed for five accession of T. dicoccoides – existing projects, informatics pipeline
          
        </p>
       
</div>
{% endblock %}