{% extends "base.html" %}
{% block content %}

<div class="w3-card-4" style="max-width:50%; margin:auto">

  <header class="w3-container w3-center w3-grey">
    <h1>Add Budget</h1>
    
  </header>

  <div class="w3-container w3-white">
    <form action="{{ url_for('budget_add') }}" method="post" class="w3-container">
        {{ form.hidden_tag() }}
        <dl>
            <dt>{{ form.year1.label }}:
            <dt>{{ form.year1 }}
            <dt>{{ form.year2.label }}:
            <dt>{{ form.year2 }}
            <dt>{{ form.category.label }}:
            <dt>{{ form.category }}
            <dt>{{ form.assigned_to.label }}:
            <dt>{{ form.assigned_to }}
            <dt>{{ form.comments.label }}:
            <dt>{{ form.comments(rows=5,cols=40) }}
            <dt>{{ form.subcategory.label }}:
            <dt>{{ form.subcategory }}
            <dt>{{ form.cost_type.label }}:
            <dt>{{ form.cost_type }}
            <dt>{{ form.centre.label }}:
            <dt>{{ form.centre }}
            <dt>{{ form.orig_proposal.label }}:
            <dt>{{ form.orig_proposal }}
            <br/><br/>
            <dt>{{ form.submit }}
        </dl>
    </form>
  </div>

</div>

{% endblock %}
