{% extends "base.html" %}

{% block content %}

<script src="{{ url_for('static', filename='js/collab.js') }}"></script>

<h1 class="w3-center">Research Oversight Committee (ROC)</h1>
<br>

{% if session.logged_in %}
<a href="{{ url_for("collab_add") }}" class="w3-button w3-large w3-blue">Add</a>
<a href="{{ url_for("collab_delete") }}" class="w3-button w3-large w3-red">Delete</a>
<br/><br/>
{% endif %}

<table id="collab" class="display compact w3-medium cell-border"  width="100%">
        <thead>
            <tr class="w3-grey">
                <th>Name</th>
                
                <th>Title</th>
                <th>Affiliation</th>
                
                <th>Email</th>
                <th>Web Link</th>
            </tr>
        </thead>
        <tbody>
            {% for x in collabs %}
            <tr>
                <td>{{ x.name }}</td>
                
                <td>{{ x.title }}</td>
                
                <td>{{ x.affiliation}}</td>
                <td>{{ x.email}}</td>
                <td>{{ x.web_link }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
</table>


{% endblock %}
