{% extends "base.html" %}

{% block content %}

<style>
.view-button{
    color:rgb(18, 92, 161); 
    background-color: rgb(167, 206, 243);
    
    border: none;
    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



.view-button:hover{
    color:rgb(7, 59, 109); 
    background-color: rgb(124, 173, 219);
    
    
  

}
</style>
<h3><Center><b>Data Archive</b></Center></h3>


<br>


<a href="{{ url_for("data_archive_login") }}" class="view-button" >Internal Project Data Archive log in</a>
<br/><br/>

<!--
{% if not session.logged_in %}
<a href="{{ url_for("login" , condition=1) }}" class="view-button">you can view it if you log in</a>
{% endif %}
-->
<p>you can only view part of the content if not log in</p>
{% endblock %}
