{% extends "base.html" %}

{% block content %}
<style>
.bold_title{
  font-weight: 800;
  font-size: 20px;
   
}

.manage_team_body p{
  
  font-size: 20px;
   
}

.manage_team_body a{  
    color: rgb(79, 156, 34);
}

.manage_team_body a:hover{  
    color: rgb(38, 100, 2);
}

.manage_team_body a:visited{  
    color: rgb(34, 92, 0);
}

</style>



<h2><Center><b>Management Team</b></Center></h2>
<br>
<div class = "manage_team_body">
<div class = "bold_title">Lead:</div>
<br>

<div class = "bold_title">Curtis Pozniak</div>
<p>University of Saskatchewan<br>
    51 Campus Drive  <br>  
    Saskatoon SK S7N 5A8, Canada  <br> 
    <a href="mailto:curtis.pozniak@usask.ca">curtis.pozniak@usask.ca</a>
    
</p>

<br><br>

<div class = "bold_title">Sylvie Cloutier</div>
<p>Ottawa Research Development Centre, Agriculture and Agri-Food Canada<br>
    960 Carling Avenue  <br>  
    Ottawa, ON K1A 0C6, Canada <br> 
    <a href="mailto:sylvie.j.cloutier@agr.gc.ca">sylvie.j.cloutier@agr.gc.ca</a>
</p>

<br><br>
<div class = "bold_title">Program Manager:</div>
<br>

<div><p class = "bold_title" style = "display: inline-block;">Raelene Regier</p><p style = "display: inline-block;">, B.Sc., P.Ag., PMP</p></div>
<p>Department of Plant Sciences/ Crop Development Centre<br>
    University of Saskatchewan  <br>  
    51 Campus Drive  <br> 
    Saskatoon SK S7N 5A8, Canada  <br> 
    Tel:  306-966-7464  <br> 
    <a href="mailto:raelene.regier@usask.ca">raelene.regier@usask.ca</a>
</p>
</div>

{% endblock %}
