{% extends "base.html" %}
{% block content %}

<script src="{{ url_for('static', filename='js/participants.js') }}"></script>

<h1 class="w3-center">Participants</h1>
<br>

{% if session.logged_in %}
<a href="{{ url_for("participant_add") }}" class="w3-button w3-large w3-blue">Add</a>
<a href="{{ url_for("participant_delete") }}" class="w3-button w3-large w3-red">Delete</a>
<br/><br/>
{% endif %}

<table id="participants" class="display compact w3-medium cell-border"  width="100%">
        <thead>
            <tr class="w3-grey">
                <th>Site</th>
                <th>Name ID</th>
                <th>Cost Centre</th>
                <th>From Participant</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>PI</th>
                <!-- <th>Team</th> Kody 2018-01-08 -->
                <th>Role</th>
                <th>Responsibility</th>
                <th>Initials</th>
                <th>Publishing Initials</th>
                <th>Email</th>
                <th>Contribution Percent</th>
            </tr>
        </thead>
        <tbody>
            {% for x in participants %}
            <tr>
                <td>{{ x.site }}</td>
                <td>{{ x.name_id }}</td>
                <td>{{ x.cost_centre }}</td>
                <td>{{ x.from_participant }}</td>
                <td>{{ x.name1 }}</td>
                <td>{{ x.name2 }}</td>
                <td>{{ x.pi }}</td>
                <!-- <td>{{ x.team }}</td> Kody 2018-01-08 -->
                <td>{{ x.role }}</td>
                <td>{{ x.responsibility }}</td>
                <td>{{ x.initials }}</td>
                <td>{{ x.publishing_initials }}</td>
                <td>{{ x.email }}</td>
                <td>{{ x.contribution_percent }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>


{% endblock %}
