{% extends "base.html" %}

{% block content %}

<style>
    .header{
        background-color:  #d7f5c1 ;
        font-size: 20.8px;
        font-weight: 700;
        color:black ;
        text-align: center;
    }
</style>

<h3><Center><b>Status of activities</b></Center></h3>

<br><br>
<ul style = "font-size: 18.5px;" >
    <li>
        Molecular toolkit for CRISPR/Cas9-based genome editing in wheat
        <ul>
            <li>
                WheatCRISPR (<a href="https://crispr.bioinfo.nrc.ca/WheatCrispr/" style="color:rgb(79, 156, 34); font-style: italic;">https://crispr.bioinfo.nrc.ca/WheatCrispr/</a>) 
              Cram et al., 2019. BMC Plant Biology (Accepted)
            </li>
            <li>
                Functional expression vector system
            </li>
            <li>
                In vitro nuclease assay for validating the function of gRNAs
            </li>
            <li>
                A protoplast based fluorescent reporter system for screening frame shift mutations resulting from Cas9/gRNA induced insertions/deletions
            </li>

        </p>

        </ul>

    </li>
    <li>
        CDC Fortitude selected based on transformation efficiency.  
    </li>
    <li>Complements Durum Wheat Tetraploid Wheat Collection and existing exome datasets</li>
    <li>90K analysis complete</li>
    <li>Sequencing completed for five accession of <i>T. dicoccoides</i> – existing projects, informatics pipeline</li>



<p style="padding-top: 30px;"><b>5.2 Progress:
</b></p>

<p>Conducting background research on Plants with Novel Traits (PNTs) regulatory systems in Canada and internationally
</p>



    <p style="padding-top: 30px;"><b>5.3 Progress:
    </b></p>


    <ul>
      <li>Data of each Canadian wheat variety’s production inputs and generational time paths to development are now being collected from registration and technical publications.
      </li>

      <li>Data of each Canadian wheat variety’s production inputs and generational time paths to development are now being collected from registration and technical publications.
      </li>
      </ul>



</ul>





{% endblock %}
