{% extends "base.html" %}

{% block content %}

<style>
.header{
    background-color: rgb(79, 156, 34); 
    font-size: 26px; 
    font-weight: 900; 
    color:rgb(255, 255, 255) ;
    text-align: center;
}

</style>

<p class = "header">
    STATUS OF ACTIVITIES
</p>
<br><br>
<ul style = "font-size: 23px;" >
    <li>
        Molecular toolkit for CRISPR/Cas9-based genome editing in wheat
        <ul>
            <li>
                WheatCRISPR (<a href="https://crispr.bioinfo.nrc.ca/WheatCrispr/" style="color:rgb(79, 156, 34); font-style: italic;">https://crispr.bioinfo.nrc.ca/WheatCrispr/</a>) 
              Cram et al., 2019. BMC Plant Biology (Accepted)
            </li>
            <li>
                Functional expression vector system
            </li>
            <li>
                In vitro nuclease assay for validating the function of gRNAs
            </li>
            <li>
                A protoplast based fluorescent reporter system for screening frame shift mutations resulting from Cas9/gRNA induced insertions/deletions
            </li>

        </ul>

    </li>
    <li>
        CDC Fortitude selected based on transformation efficiency.  
    </li>
</ul>





{% endblock %}
