{% extends "base.html" %}
{% block content %}

<div class="w3-card-4" style="max-width:50%; margin:auto">

  <header class="w3-container w3-center w3-grey">
    <h1>Add Publication</h1>
  </header>

  <div class="w3-container w3-white">
    <form action="{{ url_for('publication_add') }}" method="post" class="w3-container">
        {{ form.hidden_tag() }}
        <dl>
            <dt>{{ form.year.label }}:
            <dt>{{ form.year }}
            <dt>{{ form.title.label }}:
            <dt>{{ form.title(rows=5,cols=40) }}
            <dt>{{ form.citation.label }}:
            <dt>{{ form.citation(rows=5,cols=40) }}
            <dt>{{ form.link.label }}:
            <dt>{{ form.link }}
            <br/><br/>
            <dt>{{ form.submit }}
        </dl>
    </form>
  </div>

</div>

{% endblock %}
