{% extends "base.html" %}

{% block content %}

<script src="{{ url_for('static', filename='js/roc_member.js') }}"></script>


<h3><Center><b>Research Oversight Committee (ROC)</b></Center></h3>
<br>

{% if session.logged_in %}
<a href="{{ url_for("roc_add") }}" class="w3-button w3-large w3-blue">Add</a>
<a href="{{ url_for("roc_delete") }}" class="w3-button w3-large w3-red">Delete</a>
<br/><br/>
{% endif %}

<table id="roc" class="display compact w3-medium cell-border"  width="100%">
        <thead>
            <tr class="">
                <th>  </th>
                <th>Name</th>
                
                <th>Title</th>
                <th>Affiliation</th>
                
                <th>Email</th>
                
            </tr>
        </thead>
        <tbody>
            {% for x in roc_mem %}
            <tr>
                <td>{{ x.id }}</td>
                
                <td><a class = "table_body" href = "{{x.web_link}}" >{{ x.name }}</a></td>
                
                <td>{{ x.title }}</td>
                
                <td>{{ x.affiliation}}</td>
                <td> <a class = "table_body" href="mailto:{{ x.email}}">{{ x.email}}</a></td>
                
                
                
            </tr>
            {% endfor %}
        </tbody>
</table>


{% endblock %}
