{% extends "base.html" %}
{% block content %}

<script src="{{ url_for('static', filename='js/tools.js') }}"></script>

<h1 class="w3-center">Tools</h1>
<br>

{% if session.logged_in %}
<a href="{{ url_for("tool_add") }}" class="w3-button w3-large w3-blue">Add</a>
<a href="{{ url_for("tool_delete") }}" class="w3-button w3-large w3-red">Delete</a>
<br/><br/>
{% endif %}

<table id="tools" class="display compact w3-medium cell-border"  width="100%">
        <thead>
            <tr class="w3-grey">
                <th>Title</th>
                <th>Category</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for x in tools %}
            <tr>
                <td>{{ x.title }}</td>
                <td>{{ x.category }}</td>
                <td>{{ x.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

{% endblock %}
