{% extends "base.html" %}

{% block content %}

<div class="w3-card-4" style="max-width:50%; margin:auto">

  <header class="w3-container w3-center">
    <h1>ADMIN LOG IN</h1>
  </header>

  <div class="w3-container w3-white">
    {% if form.errors %}<p class=error>Invalid username or password.{% endif %}
    <form method="post">
    {{ form.hidden_tag() }}
      <dl>
        <dt>{{ form.username.label }}:
        <dt>{{ form.username }}
        <dt>{{ form.password.label }}:
        <dt>{{ form.password }}
        <br/>
        <br/>
        <dt>{{ form.submit }}
      </dl>
    </form>
  </div>

</div> 


{% endblock %}
