{% extends "base.html" %}
{% block content %}

<div class="w3-card-4" style="max-width:50%; margin:auto">

  <header class="w3-container w3-center">
    <h1>Add Participant</h1>
  </header>

  <div class="w3-container w3-white">
    <form action="{{ url_for('participant_add') }}" method="post" class="w3-container">
        {{ form.hidden_tag() }}
        <dl>
            <dt>{{ form.site.label }}:
            <dt>{{ form.site }}
            <dt>{{ form.name_id.label }}:
            <dt>{{ form.name_id }}
            <dt>{{ form.name1.label }}:
            <dt>{{ form.name1 }}
            <dt>{{ form.name2.label }}:
            <dt>{{ form.name2 }}
            <dt>{{ form.cost_centre.label }}:
            <dt>{{ form.cost_centre }}
            <dt>{{ form.from_participant.label }}:
            <dt>{{ form.from_participant }}
            <dt>{{ form.pi.label }}:
            <dt>{{ form.pi }}
            {# <dt>{{ form.team.label }}:
            <dt>{{ form.team }}  Kody 2018-01-08 #}
            <dt>{{ form.role.label }}:
            <dt>{{ form.role }}
            <dt>{{ form.responsibility.label }}:
            <dt>{{ form.responsibility(rows=5,cols=40) }}
            <dt>{{ form.initials.label }}:
            <dt>{{ form.initials }}
            <dt>{{ form.publishing_initials.label }}:
            <dt>{{ form.publishing_initials }}
            <dt>{{ form.email.label }}:
            <dt>{{ form.email }}
            <dt>{{ form.contribution_percent.label }}:
            <dt>{{ form.contribution_percent }}
            <br/><br/>
            <dt>{{ form.submit }}
        </dl>
    </form>
  </div>

</div>

{% endblock %}
